<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Huddleston Shipping Services</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Styles -->
  </head>
  <body>
	<!-- The top navigation menu -->
    <div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <ul class="nav pull-right">
	                <li><a href="/pages/home">Home</a></li>
	                <li><a href="/pages/about">About</a></li>
	                <li class="active"><a href="/pages/request">Request a Quote</a></li>
	                <li><a href="/pages/login">Login</a></li>
	          	</ul>
	        </div>
	    </div>
	  </div>
    <div class="hero">
      <div class="container">
        <div class="row">
            <h1>Request a Quote</h1>
        </div>
      </div>
    </div>
    <section>
    <div class="container">
      <div class="row">
        <div class="span3">
          <address>
            <strong>Phoenix</strong><br/>Huddleston Trucking Service, Inc.<br/>
            3235 E Jackson St.<br/>
            Phoenix, Arizona  85034-2814<br/>
            Phone: (602) 437-7200<br/>
            Fax: (602) 437-7212
          </address>
          <br/><br/>
          <address>
            <strong>Tucson</strong><br/>Huddleston Trucking Service, Inc.<br/>
            2810 East Airport Dr. Ste 100<br/>
            Tucson, Arizona 85756-0360<br/>
            Phone: (520) 807-0360<br/>
            Fax: (520) 807-3415
          </address>
        </div>
        <div class="span9">
          <form class="well form-horizontal">
            <fieldset>
              <div class="control-group">
                <label class="control-label" for="name_input">Name</label>
                <div class="controls">
                  <input type="text" class="input-large" id="name_input" required />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="org_input">Company</label>
                <div class="controls">
                  <input type="text" class="input-large" id="org_input" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="phone_input">Phone Number</label>
                <div class="controls">
                  <input type="text" class="input-large" id="phone_input" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="email_input">Email</label>
                <div class="controls">
                  <input type="email" class="input-large" id="email_input" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inquiry_input">Inquiry</label>
                <div class="controls">
                  <textarea class="input-xlarge" id="textarea" rows="5" ></textarea>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </bod>
</html>
